:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --hero-button-accent: #188ce8;
  --bg-footer-color: #2f303a;
  --bg-buttons-color: #f5f4fa;
  --header-border-color: #ececec;
  --projects-border-color: #eeeeee;
  --bg-hero-gradient: rgba(47, 48, 58, 0.4);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

/* List */

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Reset */

h3 {
  margin: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

/* Images */

.images {
  display: block;
}

/* Hidden title */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid brown; */
}

.container.header-flex {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.header .link,
.footer .link {
  display: block;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 28px;
}

.header-logo {
  color: var(--header-logo-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--header-border-color);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-flex {
  display: flex;
  align-items: center;
}

/* .site-nav > .item {
  outline: 1px solid #2196f3;
} */

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link,
.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

/* .site-nav .link {
  display: block;
} */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.header-contacts .link {
  color: var(--primary-text-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts > .item + .item {
  margin-left: 40px;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-footer-color);
}

.footer-contacts > .item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  text-decoration: none;
  color: var(--footer-contacts-color);
}

.link.geolink {
  color: var(--primary-white-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

/* Buttons */

.buttons {
  font-family: inherit;
  font-size: 16px;

  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.buttons.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 24px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buttons.filter-buttons {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  min-width: 73px;

  font-weight: 500;
  line-height: 1.63;
  color: var(--title-text-color);

  background-color: var(--bg-buttons-color);
}

.buttons.hero-button:hover,
.buttons.hero-button:focus {
  background-color: var(--hero-button-accent);
}

.buttons.filter-buttons:hover,
.buttons.filter-buttons:focus {
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Studio */

/* Hero */

.section.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--bg-footer-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(var(--bg-hero-gradient), var(--bg-hero-gradient)),
    url(../images/background-hero.jpg);
  background-size: contain;
  border: 1px solid #000000;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* Features */

.features {
  display: flex;
}

.features > .item {
  width: 270px;
}

.features > .item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Profile */

.section.profile-section {
  padding-top: 0;
}

.profile {
  display: flex;
}

.profile .item:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.section.team-section {
  background-color: var(--bg-buttons-color);
}

.team {
  display: flex;
}

.team > .item {
  text-align: center;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team > .item:not(:last-child) {
  margin-right: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
}

.item > .team-caption {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Portfolio */

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter > .item:not(:last-child) {
  margin-right: 8px;
}

/* Projects list */

.project-name {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects > .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.projects-caption {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border: 1px solid var(--projects-border-color);
  border-top: none;
}
